.input {
    border: 1px solid #000000;
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: border-color 250ms ease-in-out, outline-color 300ms ease-in-out;
}

.input:hover {
    border-color: #302bba;
}

.input:focus {
    border-color: #302bba;
    outline-color: #302bba;
}